.guide {
  display: block;
  overflow: hidden;
  margin: 2% 2% 35px 10%;
  text-align: center;
}
.guide li {
  float: left;
  color: #acacac;
  font-size: 16px;
  display: inline-block;
  margin-right: 5px;
}
/* 无商品样式 */
.without {
  display: none;
  text-align: center;
  padding: 150px 10px 500px 10px;
}
.without img {
  width: 500px;
  height: 180px;
}
.without p {
  text-align: center;
  margin-top: 55px;
  font-size: 16px;
  color: #bdbcbc;
}
.without p a {
  width: 150px;
  height: 42px;
  text-align: center;
  font-size: 20px;
  padding: 7px 0;
  background-color: #0047ba;
  color: #fff;
  margin: 0 auto;
}
/* 有商品样式 */
.goods .main {
  margin: 0 100px;
}
.main .cartNews {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b {
  font-weight: 900;
}
.main .cartNews .col {
  margin-top: 30px;
}
.main .cartNews img {
  height: 193px;
  width: 150px;
}
.main .numb {
  display: flex;
}
.main .numb a {
  margin-left: 3px;
  border: 1px solid #c5c5c7;
  height: 38px;
  width: 38px;
  line-height: 38px;
  text-align: center;
}
.tit {
  height: 99px;
  font-size: 32px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #000;
}
/* 计算价格 */
.cartSun {
  background-color: #f8f9fb;
  padding: 30px;
  width: 1210px;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.cartSun div {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
/* 结算 */
.count {
  font-size: 16px;
  padding: 40px 0 120px 0;
  display: flex;
}
.count .all {
  height: 50px;
  line-height: 50px;
}
.count .count-btn {
  height: 50px;
  width: 200px;

  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
.count .gobuy {
  border: solid 1px #000;
  margin-left: 730px;
  margin-right: 30px;
}
.count .pay {
  background-color: #0047ba;
  color: #fff;
}
